.markdown-body {
  max-width: 1248px;
  margin: auto;
}

blockquote {
  border-left: 4px solid #dcdcde;
  color: #535158;
  padding-left: 12px;
}

h2,
h3,
h4,
h5 {
  padding-top: 20px;
}

table,
th,
td {
  border: 1px solid #fafafa;
}

tr > th {
  background-color: #fbfafd;
  border-bottom-width: medium;
}

th,
td {
  padding: 4px;
  vertical-align: text-top;
}

pre.chroma {
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 5px;
}
